@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 5vh;
  font-family: 'Merriweather', serif;
  color:white;
}
